{% embed "block/scaffholding/board.twig" with {'class': 'loginform loginform-view'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton, inputfield %}

        {% block board_title %}
            {{ title }}
        {% endblock %}


        {% block board_body %}
            <form action="./" method="POST" class="form--base">
                <fieldset>
                    {{ formgroup(
                        {"label": "Nutzername:", "errors": loginfailed ? ["Das eingegebene Passwort und der Nutzername passen nicht zusammen"]  : loginData.loginName.messages},
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "loginName",
                                "maxlength": "40",
                                "value": loginData.loginName.value,
                                "accesskey": "n",
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Passwort:", "errors": loginData.password.messages},
                        [{
                            "type":"input",
                            "parameter": {
                                "type": "password",
                                "name": "password",
                                "maxlength": "40",
                                "accesskey": "p",
                            }
                        }]
                    ) }}
                </fieldset>
                {{ inputfield({ "name":"login_form_validate", "type":"hidden", "value":"1" }) }}
                <div class="form-actions">
                    {{ formbutton({ "type":"login", "label":"Anmelden", "value": "Anmelden", "accesskey":"a" }) }}
                </div>
            </form>
        {% endblock %}


        {% block board_footer %}
            Wenden Sie sich bei vergessenen Passwörtern bitte an Ihren lokalen Anwendungssystembetreuer.
        {% endblock %}

{% endembed %}
