{% set showList = "complete-list" %}
{% if shortchangelog %}
{% set showList = "short-list" %}
{% endif %}

<div class="{{ showList }}">

    <div class="last-changelog-items">
        <div class="changelog-item">
            <h3>Version 2.15.00 <small>(14. März 2018)</small></h3>
            <p>Erste Version des überarbeiteten Statitiksystems. In den ersten Monaten werden sowohl das alte wie das neue System parallel betrieben. Ein Wechsel zwischen den Systemen ist jederzeit möglich, um die Eingewöhnung zu erleichtern. Folgende sichtbare Änderungen ergeben sich durch die neue Version:</p>
            <ul>
                <li><strong>Layout und Benuteroberfläche:</strong> <span>Das Layout wurde komplett überarbeitet. Bedienelemente wie Buttons und Formulare bleiben weitestgehend gleich. Über Änderungen in der Bedienung wird gesondert informiert.</span></li>
                <li><strong>Login:</strong> <span>Der Login findet nun in zwei Schritten statt. Loggen Sie sich zuerst ein und auf der folgenden Seite wählen Sie nun Standort und Platz- oder Raum-Nummer aus.</span></li>
                <li><strong>Systemumgebung:</strong> <span>Softwarekomponenten sowie Servertechnik wurden umfangreich erneuert.</span></li>
            </ul>
        </div>
    </div>

{% if not shortchangelog %}

{% endif %}
</div>
