{% block pageheader %}
    {% from 'element/helper/form.twig' import formgroup, formbutton %}
    <div class="grid">
        <div class="grid__item one-sixth page-header__left">
            {% block pageheader_left -%}
                {% if isImageAllowed() %}
                    <a class="page-header__logo" href="{{ includeUrl() }}" title="Zur Startseite">
                        <img src="{{ includeUrl() }}/_css/images/logo_berlin_admin.svg" alt="Berlin.Admin">
                    </a>
                {% endif %}
            {%- endblock %}
        </div>
        <div class="grid__item max-width page-header__middle">
            {% block pageheader_middle -%}
            <div class="page-header__scope">
                {% set scopeName = workstation.scope.contact.name %}
                {% if workstation.scope.contact.name|length > 30 %}
                    {% set scopeName = workstation.scope.contact.name[:30] ~ "..." %}
                {% endif %}
                <ul class="list--horizontal">
                    <li class="user-scope" title="{{ workstation.scope.contact.name }}">
                        <div>{% trans %}header.scope{% endtrans %}: <strong>{{ scopeName }}</strong></div>
                    </li>
                    <li class="user-workstation">
                        <a href="{{ urlGet('workstationSelect', {}, {}) }}" class="icon" title="Auswahl ändern">
                            <i class="fas fa-edit" aria-hidden="true"></i> <span class="aural">Auswahl ändern</span>
                        </a>
                    </li>
                </ul>
            </div>
            {%- endblock %}
        </div>
        <div class="grid__item min-width page-header__right">
        {% block pageheader_right -%}
            <div class="page-header__metanav">
                <ul class="list--horizontal bordered js-header-metanavi-popup">
                    <li class="nav-item">
                        <span class="user-name">
                            <strong>{{ workstation.useraccount.id }}</strong>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="{{ urlGet('logout', {'loginName' : workstation.loginName}, {}) }}" title="Abmelden"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> {% trans %}header.logout{% endtrans %}</a>
                    </li>
                </ul>
            </div>
            <button class="desk-hide" title="Hauptnavigation öffnen">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="aural">Hauptnavigation öffnen</span>
            </button>
        {%- endblock %}
        </div>
        
    </div>
{% endblock %}
