{% use "block/header/pageheader.twig" %}
{% use "block/breadcrumb/breadcrumb.twig" %}
{% use "block/navigation/navigation.twig" %}
{% import "element/helper/snippets.twig" as snippets %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex">
    <title>{{ title }} - Zeitmanagementsystem</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ includeUrl() }}/_css/statistic.css" />
    <link rel="stylesheet" media="print" type="text/css" href="{{ includeUrl() }}/_css/print.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <span id="js-is_palm"></span>
    <div id="page-wrapper">
        <header id="page-header">
            {% block pageheader %}
                {{ parent() }}
            {%- endblock %}
        </header>

        <div id="content-wrapper">
            {% block breadcrumb %}
                {{ parent() }}
            {%- endblock %}
            <div class="grid">
                <div class="grid__item one-sixth">
                    <nav class="navigation-primary" aria-labelledby="navigation-primary-title">
                        <h2 class="aural" id="navigation-primary-title">Hauptnavigation</h2>
                        <div class="nav__wrapper">
                            <div class="nav__header-mobile">
                                <button title="Hauptnavigation schließen" class="nav__close js-close">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <span class="aural">Hauptnavigation schließen</span>
                                </button>
                            </div>
                            {% block navigation %}
                                {{ parent() }}
                            {%- endblock %}
                        </div>
                    </nav>
                </div>
                <div class="grid__item five-sixths">
                    <section role="main" id="main-content">
                        {% block headline %}
                            {{ snippets.headline1("untitled") }}
                        {% endblock %}
                        {% block content %}
                            {% include "element/helper/messageHandler.twig" %}
                        {% endblock %}
                    </section>
                </div>
            </div>
        </div>

        <footer id="page-footer">
            <div class="page-footer__left">
            </div>
            <div class="page-footer__middle">
                {% include "block/metalinks/metalinks.twig" %}
            </div>
            <div class="page-footer__right">
            <div class="page-version">
                <a href="{{ urlGet('changelog', {}, {}) }}" class="version" title="Änderungshistorie anzeigen">Version {{ currentVersion() }}</a> | <a href="{{ urlGet('status', {}, {}) }}" class="version" title="Betriebsstatus des Systems">Status</a>
            </div>
            </div>
        </footer>

    </div>
    {#<script type="text/javascript" src="{{ includeUrl() }}/_js/vendor.js"></script>#}
    <script type="text/javascript" src="{{ includeUrl() }}/_js/index.js"></script>
    {% block javascript %}
    {%- endblock %}
    {% if (getSystemStatus('ZMS_DEBUG'))  %}
    <!-- httplog --> {{ dumpHttpLog() }}
    {% endif %}
</body>
</html>
